

  #colour-variations {
    padding: 10px;
    -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s;
    width: 140px;
    position: fixed;
    left: 0;
    top: 100px;
    z-index: 999999;
    background: #fff;
    /*border-radius: 4px;*/
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -webkit-box-shadow: 0 0 9px 0 rgba(0,0,0,.1);
    -moz-box-shadow: 0 0 9px 0 rgba(0,0,0,.1);
    -ms-box-shadow: 0 0 9px 0 rgba(0,0,0,.1);
    box-shadow: 0 0 9px 0 rgba(0,0,0,.1);
  }
  #colour-variations.sleep {
    margin-left: -140px;
  }
  #colour-variations h3 {
    text-align: center;;
    font-size: 11px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #777;
    margin: 0 0 10px 0;
    padding: 0;;
  }
  #colour-variations ul,
  #colour-variations ul li {
    padding: 0;
    margin: 0;
  }
  #colour-variations li {
    list-style: none;
    display: inline;
  }
  #colour-variations li a {
    width: 20px;
    height: 20px;
    position: relative;
    float: left;
    margin: 5px;
  }
  #colour-variations li a[data-theme="style"] {
    background: #6173f4;
  }
  #colour-variations li a[data-theme="pink"] {
    background: #f64662;
  }
  #colour-variations li a[data-theme="blue"] {
    background: #2185d5;
  }
  #colour-variations li a[data-theme="turquoise"] {
    background: #00b8a9;
  }
  #colour-variations li a[data-theme="orange"] {
    background: #ff6600;
  }
  #colour-variations li a[data-theme="lightblue"] {
    background: #5585b5;
  }
  #colour-variations li a[data-theme="brown"] {
    background: #a03232;
  }
  #colour-variations li a[data-theme="green"] {
    background: #65d269;
  }

  .option-toggle {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 5px;
    margin-right: -30px;
    width: 30px;
    height: 30px;
    background: #f64662;
    text-align: center;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #fff;
    cursor: pointer;
    -webkit-box-shadow: 0 0 9px 0 rgba(0,0,0,.1);
    -moz-box-shadow: 0 0 9px 0 rgba(0,0,0,.1);
    -ms-box-shadow: 0 0 9px 0 rgba(0,0,0,.1);
    box-shadow: 0 0 9px 0 rgba(0,0,0,.1);
  }
  .option-toggle i {
    top: 2px;
    position: relative;
  }
  .option-toggle:hover, .option-toggle:focus, .option-toggle:active {
    color:  #fff;
    text-decoration: none;
    outline: none;
  }
  
